<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/template.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <script src="/components/angular/angular.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Habits</h1>
            <table class="dates">
                <tr class="date-row">
                    <td class="date-title" id="2015-02-27">February 27</td>
                    <td class="habit" id="habit-one">Habit One</td>
                    <td class="habit" id="habit-tow">Habit Two</td>
                </tr>
                <tr class="date-row">
                    <td class="date-title" id="2015-02-28">February 28</td>
                    <td class="habit" id="habit-one">Habit One</td>
                    <td class="habit" id="habit-tow">Habit Two</td>
                </tr>
                <tr class="date-row">
                    <td class="date-title" id="2015-03-01">February 28</td>
                    <td class="habit" id="habit-one">Habit One</td>
                    <td class="habit" id="habit-tow">Habit Two</td>
                </tr>
                <tr class="date-row">
                    <td class="date-title" id="2015-03-01">February 28</td>
                    <td class="habit" id="habit-one">Habit One</td>
                    <td class="habit" id="habit-tow">Habit Two</td>
                </tr>
                <tr class="date-row">
                    <td class="date-title" id="2015-03-01">February 28</td>
                    <td class="habit" id="habit-one">Habit One</td>
                    <td class="habit" id="habit-tow">Habit Two</td>
                </tr>
                <tr class="date-row">
                    <td class="date-title" id="2015-03-01">February 28</td>
                    <td class="habit" id="habit-one">Habit One</td>
                    <td class="habit" id="habit-tow">Habit Two</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- <div class="footer">
        <p>Copyright 2015 Christopher Su</p>
    </div> -->
</body>
</html>