<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/template.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <script src="/components/angular/angular.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Habits</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </div>

    <!-- <div class="footer">
        <p>Copyright 2015 Christopher Su</p>
    </div> -->
</body>
</html>